.idea
.weights
.cfg
venv
*__pycache__*
iot/dokkaebi/data/voice/input.wav
iot/dokkaebi/data/camera/data.json
iot/dokkaebi/data/atmosphere/data.json
iot/dokkaebi/data/study.json
iot/dokkaebi/data/camera/object/*.cfg
iot/dokkaebi/data/camera/object/*.weights

