@import '../../common/mixin';
@import '../../common/variables';

.title {
  font-size: 2.5rem;
}

@media screen and (max-width: 758px) {
  .title {
    font-size: 1.25rem;
  }
}

.studyDiv {
  @include media-query-style;
  margin-bottom: 60px;

  .title {
    font-weight: 700;
    text-align: center;
    margin: 80px 0;
  }
  .content {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
  }
}
