@import '../../../common/mixin';
@import '../../../common/variables';

.editor {
  @include media-query-style;
  z-index: 1;
  .form {
    display: flex;
    flex-direction: column;
    .title {
      margin: -24px 0px 12px 0px;
      &:hover {
        border-color: $DK_LightG;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: $DK_LightG;
      }
    }

    .button {
      margin-left: auto;
      border-radius: 8px;
      width: 160px;
      margin-top: 12px;
      margin-bottom: 24px;
      background-color: $DK_MAIN;
      border-color: $DK_MAIN;
      &:hover {
        background-color: $DK_MAIN;
        border-color: $DK_MAIN;
        opacity: 75%;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        opacity: 90%;
      }
    }
  }
}
