@import "../../../common/variables";
@import "../../../common/mixin";

.article {
    z-index: 1;
    .selectButton {
        color: $DK_BLACK;
    }

    .articleList {
        height: 300px;
        margin-top: 12px;
        background-color: $DK_WHITE;
        border: 1px solid $DK_WHITE;
        border-radius: 12px;
        box-shadow: 0px 4px 8px $DK_LGRAY;

        .midTitle {
            font-size: 1.5rem;
            font-weight: 700;
            margin-left: 28px;
        }
    }
}