@import '../../../common/mixin';
@import '../../../common/variables';

.div {
  padding: 36px;
  width: 600px;
  height: 400px;
  .title {
    .icon {
      margin-right: 8px;
    }
  }
  .content {
    display: flex;
    margin-top: 12px;
    .tabNav {
      width: 25%;
      font-size: 18px;
      color: $DK_GRAY;
      margin-bottom: 36px;

      .now {
        font-weight: 500;
        background-color: $DK_LGRAY;
        padding: 12px 0px 12px 12px;
        cursor: pointer;
        &:hover {
            opacity: 50%;
          }
      }
      .next {
        font-weight: 400;
        padding: 12px 0px 12px 12px;
        cursor: pointer;
        &:hover {
          opacity: 50%;
        }
      }
    }
    .hrCol {
        width: 1px;
        height: 300px;
        background-color: $DK_LGRAY;
    }
    .tabContent {
      width: 70%;
      padding: 0 0 24px 24px;
      .content {
        overflow: auto;
        height: 280px;
      }
    }
  }
}
