@import '../../../common/mixin';
@import '../../../common/variables';

.StudyExitSetting {
    .midTitle {
        font-size: 16px;
        color: $DK_GRAY;
        margin: 0 0 8px 0;
    }

    .info {
        font-size: 12px;
        font-weight: 400;
        color: $DK_GRAY;
    }
    .button {
        padding: 12px 0;
        font-size: 16px;
        font-weight: 600;
        background: $DK_WHITE;
        border: none;
        color: $DK_RED;
        cursor: pointer;
    }
}