@import '../../../common/mixin';
@import '../../../common/variables';

.midTitle {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navText {
        font-size: 1rem;
        font-weight: 500;
        text-decoration-line: none;
        color: $DK_GRAY;
    }
}
.outDiv {
    @include media-query-style;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    column-gap: 16px;
    row-gap: 24px;
}