@import '../../../common/mixin';
@import '../../../common/variables';

.StudySetting {
    .midTitle {
        font-size: 16px;
        color: $DK_GRAY;
        margin: 0 0 8px 0;
    }
    .title {
        color: $DK_BLACK;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 32px;
    }
    .headerImg {
        width: 128px;
        height: 48px;
        border: 2px solid $DK_GRAY;
        border-radius: 8px;
        margin-bottom: 32px;
    }
    .chips {
        display: flex;
        column-gap: 6px;
    }
}