@import "../../common/_variables.scss";
@import "../../common/_mixin.scss";

@media screen and (max-width: 758px) {
    .postInner {
        flex-direction: column;
        .profile {
            width: 100%;
        }
        .postList {
            width: 100%;
        }
    }
}

.community {
    display: flex;
    flex-direction: column;

    .post {
        @include media-query-style;
        margin-bottom: 80px;

        .midTitle {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 24px;
        }

        .postInner {
            display: flex;
            justify-content: space-between;
            column-gap: 24px;

            .profile {
                width: 30%;
            }
            .postList {
                width: 70%;
            }
        }
    }

    .study {
        @include media-query-style;
    }
}