@import "../../common/_variables.scss";
@import "../../common/_mixin.scss";

.profile {
    width: 30%;
}

.myList {
    width: 70%;
}

@media screen and (max-width: 758px) {
    .myStudyroom {
        flex-direction: column;
        .myList {
            overflow: auto;
            flex-wrap: nowrap;
            width: 100%;
        }
    }
    .profile {
        width: 100%;
        margin-bottom: 24px;
    }
}

.div {
    display: flex;
    flex-direction: column;
    .myStudyroom {
        @include media-query-style;
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
        z-index: 1;
    }
    .totalStudyroom {
        @include media-query-style;
        margin-top: 100px;
    }
}