@import "../../common/_variables.scss";
@import "../../common/_mixin.scss";

.div {
    display: flex;
    flex-direction: column;
    .myStudyroom {
        @include media-query-style;
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
        z-index: 1;

        .profile {
            width: 30%;
        }

        .myList {
            width: 70%;
        }
    }
    .totalStudyroom {
        @include media-query-style;
        margin-top: 100px;
    }
}