@import '../../common/variables';
@import '../../common/mixin';

.faq {
  @include media-query-style;

  .title {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin: 80px 0;
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    .left {
      width: 28%;
      height: 500px;
      .tabDiv {
        margin-top: 44px;
        font-size: 20px;

        .now {
          font-weight: 700;
          text-decoration-line: underline;
          text-underline-offset: 4px;
          cursor: pointer;
          margin-bottom: 28px;
        }
        .next {
          font-weight: 400;
          cursor: pointer;
          margin-bottom: 28px;
        }
        .now:hover {
          opacity: 50%;
        }
        .next:hover {
          opacity: 50%;
        }
      }
    }

    .right {
      width: 68%;
      margin-top: 16px;
      .content {
        padding: 0 0 40px 0px;
      }
    }
  }
}

:global {
  .p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: $DK_WHITE;
  }
  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
  }
}
