@import "../common/_variables.scss";
@import "../common/_mixin.scss";

.alertDiv {
    width: 100%;
    .alert {
        height: 48px;
        padding: 8px;
        color: $DK_GRAY;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        .inner {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            .name {
                font-size: 12px;
                font-weight: 500;
            }
            .text {
                color: $DK_BLACK;
                font-size: 14px;
            }
        }
        .icon {
            margin-left: auto;
        }
    }
    .alert:hover {
        opacity: 50%;
    }
}