@import "../common/_variables.scss";
@import "../common/_mixin.scss";

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $DK_BLACK;
}

.hover {
    display: flex;
    flex-direction: column;
    .title {
        font-size: 14px;
        color: $DK_GRAY;
        margin-bottom: 12px;
    }
    .top {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .profile {
            display: flex;
            align-items: center;
            margin-right: 36px;
            .name {
                display: flex;
                flex-direction: column;
                margin-left: 12px;
                font-size: 14px;
                color: $DK_GRAY;
                .nickname {
                    font-weight: 600;
                    font-size: 16px;
                    color: $DK_BLACK;
                }
            }
        }
        .profile:hover {
            opacity: 50%;
        }
        .logOut {
            background-color: $DK_LGRAY;
            border: none;
            outline: none;
            border-radius: 8px;
            font-size: 12px;
            padding: 8px 12px;
            margin-left: auto;
            color: $DK_WHITE;
            cursor: pointer;
        }
        .logOut:hover {
            background-color: $DK_LGRAY;
            border: none;
            outline: none;
            opacity: 50%;
        }
        .logOut:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
    .hr {
        margin-bottom: 12px;
        height: 1px;
        background-color: $DK_LGRAY;
    }
    .midTitle {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $DK_GRAY;
        margin-bottom: 8px;
    }
}