@import '../../../common/mixin';
@import '../../../common/variables';

.homeStudy {
    @include media-query-style;
    display: flex;
    text-align: left;
    column-gap: 12px;

    .time {
        margin-bottom: 140px;
        width: 38%;
        .title {
            margin: 8px 0 48px 0;
            font-size: 28px;
            font-weight: 700;
        }
        .calDiv {
            width: 95%;
            padding: 12px 16px;
            border-radius: 12px;
            background-color: #f8f8f8;
        }
    }
    .studyRoom {
        width: 60%;
        margin-bottom: 140px;
        .title {
            margin: 8px 0 48px 0;
            font-size: 28px;
            font-weight: 700;
        }
        .myList {
            text-align: left;
        }
    }
    .news {
        margin-bottom: 140px;
        .title {
            margin: 8px 0 48px 0;
            font-size: 28px;
            font-weight: 700;
        }
        .newsItem {
            text-align: left;
        }
    }
}