@import '../../../common/mixin';
@import '../../../common/variables';

p {
    margin: 0;
}

.basicSetting {
    width: 100%;
    border: 1px solid $DK_MAIN;
    border-radius: 12px;
    padding: 18px 28px;
    color: $DK_GRAY;
}