@import "./variables";

@mixin mobile {
    @media (min-width: #{$screen-mobile}) and (max-width: #{$screen-tablet - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$screen-tablet}) and (max-width: #{$screen-desktop - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
}

@mixin media-query-style {
    margin: auto;
    @include desktop {
      width: 1024px; //1160px
    }
    @include tablet {
      width: 758px;
    }
    @include mobile {
      width: 335px;
    }
}