// main-color
$DK_MAIN: #37BF7F;
$DK_LightG: #CDF2E1;
$DK_DarkG: #1C8C42;
$DK_WHITE: #FDFDFD;
$DK_BLACK: #0D0D0D;

// sub-color
$DK_RED: #F24C5A;
$DK_YELLOW: #F2D06C;
$DK_LYELLOW: #FAF2D9;
$DK_BLUE: #3575F3;
$DK_PURPLE: #BF42EB;
$DK_GRAY: #787878;
$DK_LGRAY: #DCDCDC;

$screen-mobile: 335px;
$screen-tablet: 758px;
$screen-desktop: 1024px;