@import '../../../common/mixin';
@import '../../../common/variables';

.poseState {
  width: 70%;
  height: 600px;
  border: 1px solid $DK_LGRAY;
  border-radius: 12px;
  padding: 18px 24px;
  .title {
    color: $DK_GRAY;
  }
}
