@import '../../../common/mixin';
@import '../../../common/variables';

.poseState {
  width: 100%;
  border: 1px solid $DK_LGRAY;
  border-radius: 12px;
  padding: 18px 24px;
  overflow: hidden;
  margin: 12px 0;
  .title {
    color: $DK_GRAY;
  }
  .cards {
    margin-top: 12px;
    display: flex;
    margin-left: auto;
    .card {
      width: 20%;
      margin-right: 8px;
    }
  }
}
